:root {
  --background-color: #2b2b2b;
  --header-footer-color: #1e1e1e;
  --navbar-color: #5d5d5d;
  --button-color: #4CAF50;
  --button-hover-color: #45a049;
  --handle-color: #ccc;
  --handle-hover-color: #fff;
  --border-highlight: #FFC107;
  --text-color: #ffffff;
  --disabled-color: #f1f1f1;
  --disabled-text-color: #1e1e1e;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: Arial, sans-serif;
  margin: 0;
  width: 100vw;
  padding: 0;
}

.header, .footer {
  background-color: var(--header-footer-color);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  height: 5vh;
  padding: 10px;
  text-align: center;
}

.navbar {
  background-color: var(--navbar-color);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  min-height: 2.5vh;
  justify-content: space-between;
  padding: 10px;
}

.button, .submit-button {
  background-color: var(--button-color);
  border: none;
  border-radius: 4px;
  color: var(--text-color);
  cursor: pointer;
  display: inline-block;
  font-size: large;
  margin: 4px 2px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
}

.button:hover, .submit-button:hover {
  background-color: var(--button-hover-color);
}

.handle {
  cursor: ew-resize;
  height: 20%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 2.5vw;
}

.grip {
  background-color: var(--handle-color);
  height: 60px;
  width: 5px;
  border-radius: 50px;
}

.handle:hover .grip {
  background-color: var(--handle-hover-color);
}

.user-input:disabled {
  background-color: var(--disabled-color);
  caret-color: transparent;
  color: var(--disabled-text-color);
}

pre,
code {
  overflow: auto;
}

#pageContainer {
  display: flex;
  height: 80vh;
  max-width: 100vw;
  width: 100%;
}

#blocklyArea {
  flex: 5 5 60%;
  width: 20vw;
  margin-right: 0.5rem;
  display: block;
}

#blocklyDiv {
  margin-right: 0.5rem;
  /* Take up 100% of flex parent space - not the entire screen */
  width: 100%;
  height: 100%;
}

#outputPane {
  background-color: var(--header-footer-color);
  display: flex;
  flex-direction: column;
  margin: 1rem;
  margin-left: 0.5rem;
  overflow: auto;
  width: 20vw;
  max-height: 80vh;
}

#generatedCode {
  border-bottom: 5px solid var(--background-color);
  border-left: 5px solid var(--border-highlight);
  height: 50%;
  padding: 10px;
  counter-reset: linenumber;
  padding-left: 1em; /* Adjust padding to make room for line numbers */
}
#generatedCode code {
  display: block;
  position: relative;
}
#generatedCode code > div {
  counter-increment: linenumber;
  position: relative;
  padding-left: 2em; /* Adjust padding to make room for line numbers */
  padding-bottom: 0.5em;
}

#generatedCode code > div::before {
  content: counter(linenumber);
  position: absolute;
  left: 0;
  width: 1em;
  text-align: right;
  color: gray;
}

#outputArea {
  border-left: 5px solid var(--border-highlight);
  color: var(--text-color);
  flex: 1;
  overflow-y: auto;
  padding: 10px;
}

#pythonArea {
  color: var(--text-color);
  outline: none;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  padding: 0px;
}

.blocklySvg {
  background-color: var(--background-color);
}

.blocklyToolboxDiv {
  background-color: var(--navbar-color);
  color: var(--text-color);
}

.blocklyMainBackground {
  stroke-width: 0;
}

.blocklyFlyoutBackground {
  fill: var(--background-color);
}